/*INICIO DO STYLE PESQUISA*/
.Pesquisa {
    position: absolute;
    width: 400px;
    height: 40px;
}

.texto {
    width: 350px;
    height: 50px;
    float: left;
    font: arial;
    font-size: 20px;
}

.texto:focus{
    border: solid 2px #2f4550;
}

.btn {
    width: 30px;
    height: 40px;
    background: #2f4550;
    padding: 5px 10px;
}
/*FIM DO STYLE PESQUISA*/
/*FIM DO STYLE CARRINHO*/

.logoVersao {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-left: -150px;
    margin-right: 20px;
    margin-top: -50px;
}
/*FIM DO STYLE CARRINHO*/
/*INICIO STYLE GIF's*/
.over{
    margin-top: -440px;
    margin-left: 170px;
    position: absolute;
    width: 300px;
    height: 340px;
}
/*FIM STYLE GIF's*/
/*INICIO CARRINHO DE COMPRA*/
.carrinho {
    margin-top: -80px;
    margin-left: 1132px;
    position: absolute;
    width: 52px;
    height: 52px;
}
.user {
    margin-top: -78px;
    margin-left: 1190px;
    position: absolute;
    width: 48px;
    height: 48px;

}










