.login h2 {
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
    color: white;
}

.login legend {
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 20px;
    margin-bottom: 11px;
    text-transform: uppercase;
    color: white;
}

.logar span{
    font-size: 21px;
    text-transform: uppercase;
    color: white;
    margin-left: 565px;
    margin-top: 21px;
    position: absolute;
}

.logar p {
    font-size: 21px;
    text-transform: uppercase;
    color: white;
    margin-left: 565px;
    margin-top: 20px;
    margin-bottom: 150px;
    position: absolute;
}
.login .user {
    width: 355px;
    height: 45px;
    margin: -25;
    margin-top: 44px;
    margin-left: 38%;
    border-radius: 33px;
    border: 2px solid #2f4550;
    background-image: url('../Imagens/Social/user-logiin.png');
    background-repeat: no-repeat;
    background-position: 96%;
    border: 1px solid #2f4550;
}

.login .senha {
    width: 355px;
    height: 45px;
    margin: -25;
    margin-top: 44px;
    margin-left: 38%;
    border-radius: 33px;
    border: 2px solid #2f4550;
    background-image: url('../Imagens/Social/chave.png');
    background-repeat: no-repeat;
    background-position: 96%;
    border: 1px solid #2f4550;
}

.login button {
    font-family: 'Times New Roman';
    margin-left: 668px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 100px;
    width: 124px;
    height: 52px;
    border-radius: 33px;
}

.login button:hover {
    border: 2px solid #2f4550
}

.cadastrar-se h2 {
    font-size: 20px;
    position: absolute;
    margin-top: -124px;
    margin-left: 595px;
    text-transform: uppercase;
}

.cadastrar-se button {
    width: 22px;
    height: 22px;
    margin-top: -126px;
    margin-left: 559px;
    margin-bottom: 200px;
}
/*===========================================USUARIO LOGADO===============================================*/
.logado h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 42px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Times New Roman';
}

.logado span {
    margin-top: 100px;
    font-size: 19px;
    color: white;
    text-transform: uppercase;
    margin-left: 407px;
    font-family: 'Times New Roman';
}

.sair button{
    width: 120px;
    border-radius: 33px;
    height: 50px;
    margin-left: 662px;
    margin-top: 36px;
    margin-bottom: 51px;
}
