.Cabecalho img.logo {
    position: absolute;
    height: 400px;
    width: 1250px;
}

.MenuSuperior {
    position: absolute;
}

.MenuSuperior .BarraDePesquisa {

    margin-top: 220px;
    margin-left: 280px;
}

.MenuSuperior .login {
    position: absolute;
    margin-top: 10px;
    margin-left: 280px;
}

.MenuSuperior .carrinho {
    position: absolute;
    margin-top: 100px;
    margin-left: 200px;

}
.MenuAside {
    text-transform: uppercase;
    margin-left: 30px;
}

.imagemLateral {
    margin-top: 400;
    position: absolute;

}

body {
    margin:100px;
    margin-top: 10px;
   /*background-color: rgb(240, 216, 136);*/
   background-color: black;

}

.principalJogo{
 position: absolute;
 margin-left: 210;
 margin-top: 1000;
 display: inline-block;
}

.MenuAside {
    position: absolute;
    margin-top: 450px;
}

.PainelImagens{
    margin: 90px;
    border-radius: 30px;
    width: 800px;
    display: inline-block;
    margin-top: -600px;
    margin-bottom: 15px;
}

.PainelImagens img.Img {
    width: 140px;
    height: 140px;
    border: 2px solid black;
    margin: 5px;
    margin-top: 50px;
    margin-left: 80px;
}
.PainelImagens img:hover{
    border: 2px solid red;
    
}
.Nome{
    margin-top: 40px;
    font: 20px;
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    font-weight: bold;
}

.infor_Jogo{
    text-align: center;
    margin: 2px;
}
.Social {
    margin-top: 750px;
    margin-left: 30px;
    position: absolute;
}
.thumbnail{
    background-color: rgb(223, 231, 102);
    border: 2px solid black;
    min-height: 300px;
}
.thumbnail img.capa{
    width: 250px;
    height: 130px;
}
.cart{
    position: absolute;
    bottom: 35px;
}
.capa{
    min-height: 42px;
    width: 250px;
    height: 250px;
    border-block-end:2px solid  black;
}

.Gif1{
    position: absolute;
    margin-top: 900px;
    margin-left: 1070px;
    width: 300px;
    height: 550px;
}
.Gif2{
    position: absolute;
    margin-top: 930px;
    margin-left: 0px;
    width: 250px;
    height: 500px;

}